<!DOCTYPE html>
<html lang="en">
<head>


  <!-- QUIZ TITLE: embeded "title" comes from the create route -->
  <!--If the title is "Math Quiz", the browser tab will display Creating Quiz: Math Quiz.-->
  <title>Creating Quiz: <%= title %></title>

  <!-- Given code -->
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
   <!-- Given code -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />


  <!-- Link CSS Files -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar_footer.css" />
  <link rel="stylesheet" href="/styles/create.css" />

  <!-- JQUERY -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- Google Fonts ('Nunito', sans-serif;)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">



<body>
  <!-- Top nav bar (fixed) -->
  <%- include('partials/_header.ejs') %>


  <!-- Main content -->
  <div class="unique-quiz-main">
    <section class="unique-quiz-title">

    <!-- QUIZ TITLE: embeded "title" comes from the create route -->
    <h1>Quiz Title: <%= title %> </h1>

    <!-- Display Privacy Setting -->
    <!--TERNARY OPERATOR: If privacy is true (private), it will display "Private"-->
    <p>Privacy: <%= privacySetting ? 'Private' : 'Public' %></p>
    </section>


    <!-- FORM TO ADD 05 QUESTIONS -->
    <!--When the SUBMIT button is clicked, the form submits ALL QUESTIONS AND ANSWERS to the server using POST.-->
    <!--The server saves the questions to the database and redirects the user THE QUIZ PAGE /quiz/create/:quizId -->
    <!--THE ACTION FOR THE POST METHOD IS ON create/:quizId -->
    <!-- THE REDIRECT (TO BE HANDLED IN THE ROUTE) IS TO quiz/:quizId-->

    <form class="questions-form" action="/quiz/create/<%= quizId %>" method="POST">

      <!-----------QUESTION 1----------------->
      <!--The questions[0] format allows us to group all questions in an array QUESTIONS -->
      <h2>Question 1</h2>
      <textarea name="questions[0]" id="question1" required placeholder="Enter Question 1"></textarea>

      <div class="label-for-answers">
      <p>Correct answer</p>
      </div>

      <!-- radio buttons having the SAME NAME is what makes the user able select only 1 option -->
      <!-- When the user selects one of the radio buttons, the backend receives the VALUE in the form.-->
      <!--The selected radio button’s VALUE will be sent as part of the form submission. (One of the key-values of the object in answers[0])-->

      <!--answers[0] format allows us to group all answers in an array of objects ANSWERS-->
      <!--ANSWER 1-->
      <div class="answer-group">
        <input type="text" name="answers[0].answer1" id="answer1-1" required placeholder="Enter answer 1" />
        <input type="radio" name="answers[0].correct" value="answer1" class="answer-radio" />
      </div>

      <!--ANSWER 2-->
      <div class="answer-group">
        <input type="text" name="answers[0].answer2" id="answer1-2" required placeholder="Enter answer 2" />
        <input type="radio" name="answers[0].correct" value="answer2" class="answer-radio" />
      </div>

      <!--ANSWER 3-->
      <div class="answer-group">
        <input type="text" name="answers[0].answer3" id="answer1-3" required placeholder="Enter answer 3" />
        <input type="radio" name="answers[0].correct" value="answer3" class="answer-radio" />
      </div>

      <!--ANSWER 4-->
      <div class="answer-group">
        <input type="text" name="answers[0].answer4" id="answer1-4" required placeholder="Enter answer 4" />
        <input type="radio" name="answers[0].correct" value="answer4" class="answer-radio" />
      </div>

      <!--LINE TO SEPARATE QUESTIONS-->
      <hr>

      <!-----------QUESTION 2----------------->
      <h2>Question 2</h2>
      <textarea name="questions[1]" id="question2" required placeholder="Enter Question 2"></textarea>

      <div class="label-for-answers">
      <p>Correct answer</p>
      </div>

      <!--ANSWER 1-->
      <div class="answer-group">
        <input type="text" name="answers[1].answer1" id="answer2-1" required placeholder="Enter answer 1" />
        <input type="radio" name="answers[1].correct" value="answer1" class="answer-radio" />
      </div>

      <!--ANSWER 2-->
      <div class="answer-group">
        <input type="text" name="answers[1].answer2" id="answer2-2" required placeholder="Enter answer 2" />
        <input type="radio" name="answers[1].correct" value="answer2" class="answer-radio" />
      </div>

      <!--ANSWER 3-->
      <div class="answer-group">
        <input type="text" name="answers[1].answer3" id="answer2-3" required placeholder="Enter answer 3" />
        <input type="radio" name="answers[1].correct" value="answer3" class="answer-radio" />
      </div>

      <!--ANSWER 4-->
      <div class="answer-group">
        <input type="text" name="answers[1].answer4" id="answer2-4" required placeholder="Enter answer 4" />
        <input type="radio" name="answers[1].correct" value="answer4" class="answer-radio" />
      </div>

      <!--LINE TO SEPARATE QUESTIONS-->
      <hr>


      <!-----------QUESTION 3----------------->
      <h2>Question 3</h2>
      <textarea name="questions[2]" id="question3" required placeholder="Enter Question 3"></textarea>

      <div class="label-for-answers">
      <p>Correct answer</p>
      </div>

      <!--ANSWER 1-->
      <div class="answer-group">
        <input type="text" name="answers[2].answer1" id="answer3-1" required placeholder="Enter answer 1" />
        <input type="radio" name="answers[2].correct" value="answer1" class="answer-radio" />
      </div>

      <!--ANSWER 2-->
      <div class="answer-group">
        <input type="text" name="answers[2].answer2" id="answer3-2" required placeholder="Enter answer 2" />
        <input type="radio" name="answers[2].correct" value="answer2" class="answer-radio" />
      </div>

      <!--ANSWER 3-->
      <div class="answer-group">
        <input type="text" name="answers[2].answer3" id="answer3-3" required placeholder="Enter answer 3" />
        <input type="radio" name="answers[2].correct" value="answer3" class="answer-radio" />
      </div>

      <!--ANSWER 4-->
      <div class="answer-group">
        <input type="text" name="answers[2].answer4" id="answer3-4" required placeholder="Enter answer 4" />
        <input type="radio" name="answers[2].correct" value="answer4" class="answer-radio" />
      </div>

      <!--LINE TO SEPARATE QUESTIONS-->
      <hr>

      <!-----------QUESTION 4----------------->
      <h2>Question 4</h2>
      <textarea name="questions[3]" id="question4" required placeholder="Enter Question 4"></textarea>

      <div class="label-for-answers">
      <p>Correct answer</p>
      </div>

      <!--ANSWER 1-->
      <div class="answer-group">
        <input type="text" name="answers[3].answer1" id="answer4-1" required placeholder="Enter answer 1" />
        <input type="radio" name="answers[3].correct" value="answer1" class="answer-radio" />
      </div>

      <!--ANSWER 2-->
      <div class="answer-group">
        <input type="text" name="answers[3].answer2" id="answer4-2" required placeholder="Enter answer 2" />
        <input type="radio" name="answers[3].correct" value="answer2" class="answer-radio" />
      </div>

      <!--ANSWER 3-->
      <div class="answer-group">
        <input type="text" name="answers[3].answer3" id="answer4-3" required placeholder="Enter answer 3" />
        <input type="radio" name="answers[3].correct" value="answer3" class="answer-radio" />
      </div>

      <!--ANSWER 4-->
      <div class="answer-group">
        <input type="text" name="answers[3].answer4" id="answer4-4" required placeholder="Enter answer 4" />
        <input type="radio" name="answers[3].correct" value="answer4" class="answer-radio" />
      </div>

      <!--LINE TO SEPARATE QUESTIONS-->
      <hr>

      <!-----------QUESTION 5----------------->
      <h2>Question 5</h2>
      <textarea name="questions[4]" id="question5" required placeholder="Enter Question 5"></textarea>

      <div class="label-for-answers">
      <p>Correct answer</p>
      </div>

      <!--ANSWER 1-->
      <div class="answer-group">
        <input type="text" name="answers[4].answer1" id="answer5-1" required placeholder="Enter answer 1" />
        <input type="radio" name="answers[4].correct" value="answer1" class="answer-radio" />
      </div>

      <!--ANSWER 2-->
      <div class="answer-group">
        <input type="text" name="answers[4].answer2" id="answer5-2" required placeholder="Enter answer 2" />
        <input type="radio" name="answers[4].correct" value="answer2" class="answer-radio" />
      </div>

      <!--ANSWER 3-->
      <div class="answer-group">
        <input type="text" name="answers[4].answer3" id="answer5-3" required placeholder="Enter answer 3" />
        <input type="radio" name="answers[4].correct" value="answer3" class="answer-radio" />
      </div>

      <!--ANSWER 4-->
      <div class="answer-group">
        <input type="text" name="answers[4].answer4" id="answer5-4" required placeholder="Enter answer 4" />
        <input type="radio" name="answers[4].correct" value="answer4" class="answer-radio" />
      </div>

      <!--LINE TO SEPARATE QUESTIONS-->
      <hr>


      <!--GENERATE QUIZ BUTTON (FORM SUBMISSION) -->
      <button id="generate-quiz-btn" type="submit">Generate Quiz</button>
    </form>


  </div>


  <!-- Footer (fixed) -->
  <%- include('partials/_footer.ejs') %>


</body>
</html>
