<!DOCTYPE html>
<html lang="en">
<head>


  <!-- QUIZ TITLE: embeded "title" comes from the create route -->
  <!--If the title is "Math Quiz", the browser tab will display Creating Quiz: Math Quiz.-->
  <title>Creating Quiz: <%= title %></title>

  <!-- Given code -->
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
   <!-- Given code -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />


  <!-- Link CSS Files -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar_footer.css" />
  <link rel="stylesheet" href="/styles/create.css" />

  <!-- JQUERY -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- Google Fonts ('Nunito', sans-serif;)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">



<body>
  <!-- Top nav bar (fixed) -->
  <%- include('partials/_header.ejs') %>


  <!-- Main content -->
  <div class="unique-quiz-main">
    <section class="unique-quiz-title">

    <!-- QUIZ TITLE: embeded "title" comes from the create route -->
    <h1> <%= title %> </h1>

    <!-- Display Privacy Setting -->
    <!--TERNARY OPERATOR: If privacy is true (private), it will display "Private"-->
    <p>Privacy: <%= privacySetting ? 'Private' : 'Public' %></p>
    <br>
    <h2> &#x2193 Add 5 questions &#x2193 </h2>
    </section>


    <!-- FORM TO ADD 05 QUESTIONS -->
    <!--When the SUBMIT button is clicked, the form submits ALL QUESTIONS AND ANSWERS to the server using POST.-->
    <!--The server saves the questions to the database and redirects the user THE QUIZ PAGE /quiz/create/:quizId -->
    <!--THE ACTION FOR THE POST METHOD IS ON create/:quizId -->
    <!-- THE REDIRECT (TO BE HANDLED IN THE ROUTE) IS TO quiz/:quizId-->

    <form class="questions-form" action="/quiz/create/<%= url %>" method="POST">
      <% for (let i = 0; i < 5; i++) { %>
        <h2>Question <%= i + 1 %></h2>
        <textarea name="questions[<%= i %>]" id="question<%= i + 1 %>" required placeholder="Enter Question <%= i + 1 %>"></textarea>

        <div class="label-for-answers">
          <p>Correct answer</p>
        </div>

        <!-- Answer 1 -->
        <div class="answer-group">
          <input type="text" name="answers[<%= i %>][answer1]" id="answer<%= i + 1 %>-1" required placeholder="Enter answer 1" />
          <input type="radio" name="answers[<%= i %>][correct]" value="answer1" class="answer-radio" required/>
        </div>

        <!-- Answer 2 -->
        <div class="answer-group">
          <input type="text" name="answers[<%= i %>][answer2]" id="answer<%= i + 1 %>-2" required placeholder="Enter answer 2" />
          <input type="radio" name="answers[<%= i %>][correct]" value="answer2" class="answer-radio" required/>
        </div>

        <!-- Answer 3 -->
        <div class="answer-group">
          <input type="text" name="answers[<%= i %>][answer3]" id="answer<%= i + 1 %>-3" required placeholder="Enter answer 3" />
          <input type="radio" name="answers[<%= i %>][correct]" value="answer3" class="answer-radio" required/>
        </div>

        <!-- Answer 4 -->
        <div class="answer-group">
          <input type="text" name="answers[<%= i %>][answer4]" id="answer<%= i + 1 %>-4" required placeholder="Enter answer 4" />
          <input type="radio" name="answers[<%= i %>][correct]" value="answer4" class="answer-radio" required/>
        </div>

        <hr>
      <% } %>

      <!-- GENERATE QUIZ BUTTON (FORM SUBMISSION) -->
      <button id="generate-quiz-btn" type="submit">Generate Quiz</button>
    </form>

  </div>


  <!-- Footer (fixed) -->
  <%- include('partials/_footer.ejs') %>


</body>
</html>
