<!DOCTYPE html>
<html lang="en">
<head>
  <title>Your results for <%= title %> </title>
  <!-- Given code -->
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
   <!-- Given code -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />


  <!-- Link CSS Files -->
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar_footer.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link rel="stylesheet" href="/styles/results.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<!-- Google Fonts ('Nunito', sans-serif;)-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">



<body>
  <!-- Top nav bar (fixed) -->
  <%- include('partials/_header.ejs') %>


  <!-- Main content -->
  <div class="unique-results-main">
    <section class="unique-results-title">

      <!-- MAKE SURE TITLE WORKS -->
      <h1>Quiz Title: <%= title %> </h1>


      <!-- GET SCORE FROM BACK END  -->
      <h1>Score: <%= score %> </h1>
    </section>

    <!-- HARD CODING QUESTIONS FOR LAYOUT PURPOSES-->
    <section class="all-questions">

      <!-- First Question -->
      <div class="question">
        <h3>Question 1: Bacon ipsum dolor amet spare ribs tenderloin doner ground round. </h3>

        <!-- Answer 1 -->
        <!-- ASSUMING THIS IS THE CORRECT ANSWER-->
        <div class="answer-options correct-answer">
          <input type="radio" class="answer-radio" name="question-1"  value="answer-1" id="answer-1-1" checked/>
          <p>T-bone jowl reprehenderit ipsum picanha.</p>
        </div>

        <!-- Answer 2 -->
        <div class="answer-options">
          <input type="radio" class="answer-radio" name="question-1"  value="answer-2" id="answer-1-2" />
          <p>T-bone jowl reprehenderit ipsum picanha.</p>
        </div>

        <!-- Answer 3 -->
        <div class="answer-options">
          <input type="radio" class="answer-radio" name="question-1"  value="answer-3" id="answer-1-3" />
          <p>T-bone jowl reprehenderit ipsum picanha.</p>
        </div>

        <!-- Answer 4 -->
        <div class="answer-options">
          <input type="radio" class="answer-radio" name="question-1"  value="answer-4" id="answer-1-4" />
          <p>T-bone jowl reprehenderit ipsum picanha.</p>
        </div>
      </div>



    <!-- Button to Copy the Results URL -->
    <button id="copy-results-url-btn" type="button">Copy Results URL</button>


    <!-- Button to go back to the homepage -->
    <!-- ADD EVENT LISTENER ON APP.JS TO MAKE THE BUTTON WORK-->
    <button id="go-to-homepage-btn" type="button">Back to Homepage</button>
  </div>


  <!-- Footer (fixed) -->
  <%- include('partials/_footer.ejs') %>


</body>
</html>
